body{
    margin: 0;
}

#wrapper{
    background: linear-gradient(180deg, #1FA2F2 0%, #115F8E 100%);
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

#connect{
    width: 100%;
    height: 100vh;
    position: relative;
    background: linear-gradient(180deg, #1FA2F2 0%, #115F8E 100%);
    z-index: 1000;
}

#connect-ford{
    width: 150px;
    opacity: 0.15;
    box-sizing: border-box;
    padding: 10px;
}

#connect-ford img{
    width: 100%;
}

#connect-logo{
    width: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#connect-car{
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

#connect-car i{
    color: #fff;
    font-size: 30px;
}

#connect-car::after{
    content: "connect to car";
    font-size: 20px;
    color: #fff;
    font-family: roboto;
    text-transform: uppercase;
}

#navigation{
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 50px;
    box-shadow: -1px -3px 20px 0px #313131;
    overflow: hidden;
    padding-top: 10px;
    z-index: 999;
    background: linear-gradient(180deg, #1FA2F2 0%, #115F8E 100%);
}

#journey-glow{
    position: absolute;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    display: none;
}

#control-glow{
    position: absolute;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}

#features-glow{
    position: absolute;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    display: none;
}

@media (min-width: 721px) and (min-height: 524px) and (orientation: landscape){
    #navigation{
        top: 20px;
        background: transparent;
        box-shadow: none;
        right: 10px;
        width: 300px;
        padding-top: 0;
    }
}

#journey{
    width: 33.333%;
    height: 80px;
    float: left;
    color: #fff;
    font-size: 30px;
    text-align: center;
    position: relative;
}

#journey p{
    font-size: 10px;
    margin: 0;
    font-family: roboto;
}

#control{
    width: 33.333%;
    height: 80px;
    float: left;
    color: #fff;
    font-size: 30px;
    text-align: center;
    position: relative;
}

#control p{
    font-size: 10px;
    margin: 0;
    font-family: roboto;
}

#features{
    width: 33.333%;
    height: 80px;
    float: left;
    color: #fff;
    font-size: 30px;
    text-align: center;
    position: relative;
}

#features p{
    font-size: 10px;
    margin: 0;
    font-family: roboto;
}


.logo-small{
    width: 70px;
    margin: 10px;
}
.logo-small img{
    width: 100%;
}

/* Control Page */

#control-page{
    height: 100vh;
    position: relative;
    display: none;
}

#focus-display{
    width: 100%;
    height: 50vh;
    position: absolute;
    top: 0;
}

#focus-top{
    position: absolute;
    height: 50vh;
    left: 50%;
    transform: translateX(-50%);
    top: 25%;
}

#frdoor{
    position: absolute;
    height: 50vh;
    left: 50%;
    transform: translateX(-50%);
    top: 25%;
    display: none;
}
#fldoor{
    position: absolute;
    height: 50vh;
    left: 50%;
    transform: translateX(-50%);
    top: 25%;
    display: none;
}
#rrdoor{
    position: absolute;
    height: 50vh;
    left: 50%;
    transform: translateX(-50%);
    top: 25%;
    display: none;
}
#rldoor{
    position: absolute;
    height: 50vh;
    left: 50%;
    transform: translateX(-50%);
    top: 25%;
    display: none;
}

#swipe{
    position: absolute;
    left: 50%;
    transform: translateX(-50%) rotate(-90deg);
    z-index: 1;
    top: 50px;
    animation: swipe 1.5s ease-in-out alternate-reverse infinite;
    animation-delay: 5s;
    opacity: 0;
}

@keyframes swipe{
    0%{
        top: 70px;
    } 100%{
        top: 20px;
        opacity: 0.7;
    }
}

#swipe i{
    font-size: 50px;
    color: #ededed;
}

#control-status{
    height: 250px;
    width: 100%;
    background: #fff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: absolute;
    bottom: 0;
    overflow: scroll;
    box-sizing: border-box;
}

.status-wrap{
    margin-top: 20px;
    width: 100%;
    float: left;
}

.status-icon{
    float: left;
    height: 50px;
    width: 50%;
    font-family: roboto;
}

.status-icon i{
    color: transparent;
    -webkit-text-stroke: 2px black;
    font-size: 40px;
    line-height: 50px;
}

.status-icon *{
    float: left;
    margin-left: 20px !important;
}

.status-icon p{
    font-size: 20px;
    line-height: 50px;
    margin: 0;
}

.status-report{
    float: left;
    height: auto;
    overflow: auto;
    width: 50%;
    position: relative;
}

#fuel-tank{
    width: 50%;
    background: #C4C4C4;
    height: 5px;
    border-radius: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    float: left;
}

#tank-status{
    width: 0;
    background: #F2C213;
    height: 5px;
    border-radius: 50px;
    animation: tank-read 4s ease-in-out forwards;
}

@keyframes tank-read{
    0%{
        width: 0;
    }
    100%{
        width: 80%;
    }
}

.status-report p{
    color: #868585;
    font-family: roboto;
    float: right;
    line-height: 50px;
    margin: 0;
    margin-right: 20px;
}

#ignition-status{
    display: none;
    width: 100%;
    height: auto;
    overflow: auto;
}


#engine-off{
    width: 100%;
    float: left;
    text-align: right;
    padding: 10px 20px 10px 0;
    box-sizing: border-box;
    font-family: roboto;
    border-bottom: 1px solid #868585;
    opacity: 0.4;
}

#engine-on{
    width: 100%;
    float: left;
    text-align: right;
    padding: 10px 20px 10px 0;
    box-sizing: border-box;
    font-family: roboto;
    border-bottom: 1px solid #868585;
}

#door-status{
    display: none;
    width: 100%;
    height: auto;
    overflow: auto;
}

#door-driver{
    width: 100%;
    float: left;
    text-align: right;
    padding: 10px 20px 10px 0;
    box-sizing: border-box;
    font-family: roboto;
    border-bottom: 2px solid #868585;
}

#door-all{
    width: 100%;
    float: left;
    text-align: right;
    padding: 10px 20px 10px 0;
    box-sizing: border-box;
    font-family: roboto;
    border-bottom: 2px solid #868585;
}

#door-lock{
    width: 100%;
    float: left;
    text-align: right;
    padding: 10px 20px 10px 0;
    box-sizing: border-box;
    font-family: roboto;
    border-bottom: 1px solid #868585;
    opacity: 0.4;
}

#ford-news{
    margin-bottom: 100px;
    float: left;
    width: 100%;
}

#ford-news h2{
    font-family: roboto;
    text-align: center;
    margin: 40px;
}

/* Journey Page */
#journey-page{
    width: 100%;
    display: none;
}

#map-wrap{
    height: calc(100vh - 70px);
    width: 100%;
    position: absolute;
    background: url(../img/journey-map.PNG) no-repeat;
    background-size: cover;
}

#map-head{
    width: 100%;
    height: auto;
    overflow: auto;
    position: absolute;
    top: 0;
}

#input-cont{
    border-radius: 20px;
    border: 2px solid #919191;
    background: rgba(189, 189, 189, 0.562);
    float: left;
    height: 25px;
    margin: 10px;
}

#input-cont input{
    box-sizing: border-box;
    margin: 5px;
    background: transparent;
    border: none;
    float: left;
    width: 70px;
}

#input-cont i{
    color: #919191;
    line-height: 25px;
    margin-left: 10px;
    float: left;
}

#speaker-icons{
    float: right;
    height: 25px;
    margin: 10px;
}

#speaker-on{
    line-height: 25px;
    font-size: 20px;
}

#speaker-off{
    line-height: 25px;
    font-size: 20px;
    display: none;
}

#speedo{
    width: 75px;
    height: 75px;
    background: rgba(0, 0, 0, 0.863);
    border-radius: 50%;
    position: absolute;
    bottom: 90px;
    border: 5px dashed #919191;
    text-align: center;
}

#speedo div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#speed{
    width: 100%;
    color: #fff;
    font-family: roboto;
    font-size: 30px;
    margin: 0;
    position: relative;
}

#unit{
    width: 100%;
    color: #fff;
    font-family: roboto;
    font-size: 20px;
    margin: 0;
}

#speedo-justify{
    height: auto;
    overflow: auto;
    width: 85px;
    display: flex;
    justify-content: space-around;
    margin-left: 10px;
}

#speed-limit{
    width: 55px;
    height: 55px;
    background: #fff;
    border: 5px solid #FE2626;
    text-align: center;
    border-radius: 50%;
    bottom: 190px;
    position: absolute;
    display: none;
}

@media (min-width: 721px) and (min-height: 524px){
    #speed-limit{
        display: block;
    }
}

#limit{
    width: 100%;
    color: #919191;
    font-family: roboto;
    font-size: 20px;
    margin: 0;
    position: relative;
}

#limit-unit{
    width: 100%;
    color: #919191;
    font-family: roboto;
    font-size: 15px;
    margin: 0;
}
/* Features Page */
#features-page{
    display: flex;
    flex-direction: column;
    height: 100%;
    display: none;
}

#feature-scroll{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    overflow-x: hidden;
    padding-bottom: 100px;
}

.feature-container{
    width: 100%;
    margin: 20px 30px;
    position: relative;
    display: flex;
    
}

#urgent{
    background: #A61E1E;
}

.feature-container i{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: #5B1EA6;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
    color: #1FA2F2;
    float: left;
}

.feature-desc{
    float: left;
    color: #B4B4B4;
    font-family: roboto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 60px;
}

.feature-desc h2{
    font-size: 20px;
    margin: 0;
    margin-left: 10px;
}

.feature-desc h3{
    font-size: 10px;
    margin: 0;
    margin-left: 10px;
    font-weight: 100;
    height: 30px;
    line-height: 30px;
    position: relative;
}

.feature-desc h3::before{
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    background: #C4C4C4;
    float: left;
    margin-right: 5px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#temp-guage{
    display: flex;
}

#temp-var{
    margin: 0 20px;;
}

#temp-left{
    background: #B4B4B4;
    font-size: 10px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    margin-left: 10px;
}

#temp-left i{
    margin: 0;
}

#temp-right{
    background: #B4B4B4;
    font-size: 10px;
    width: 20px;
    height: 20px;
    line-height: 20px;
}

#temp-right i{
    margin: 0;
}

@media (min-width: 721px) and (min-height: 524px) and (orientation: landscape){
    #control-status{
        width: 350px;
        right: 0;
    }

    #focus-display{
        height: 100vh;
    }

    #focus-top{
        height: 100vh;
        top: 0;
        left: 20%;
    }

    #fldoor{
        height: 100vh;
        top: 0;
        left: 20%;
    }

    #frdoor{
        height: 100vh;
        top: 0;
        left: 20%;
    }

    #rldoor{
        height: 100vh;
        top: 0;
        left: 20%;
    }

    #rrdoor{
        height: 100vh;
        top: 0;
        left: 20%;
    }

    #feature-scroll{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        top: 50%;
        transform: translateY(-50%);
    }

    .feature-container{
        width: 50%;
        margin: 0;
        padding: 20px;
        box-sizing: border-box;
    }

    .feature-container i{
        font-size: 70px;
        width: 100px;
        height: 100px;
        line-height: 100px;
    }

    .feature-desc{
        left: 120px;
    }

    .feature-desc h2{
        font-size: 40px;
    }

    .feature-desc h3{
        font-size: 20px;
    }

}